<section id="footer">
    <ul class="icons">
        <li><a target="_blank" href="https://twitter.com/{{ site.twitter_username }}" class="fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a target="_blank" href="https://pinterest.com/{{ site.pinterest_username }}" class="fa-pinterest-p"><span class="label">Pinterest</span></a></li>
        <li><a target="_blank" href="https://instagram.com/{{ site.instagram_username }}" class="fa-instagram"><span class="label">Instagram</span></a></li>
    	<li><a target="_blank" href="https://github.com/{{ site.github_username }}" class="fa-github"><span class="label">GitHub</span></a></li>
    	<li><a href="/feed.xml" class="fa-rss"><span class="label">RSS</span></a></li>
    	<li><a href="mailto:{{ site.email }}" class="fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <p class="copyright">Copyright &copy; 2016 {{ site.author }}</p>
</section>
